# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ==========================
# Virtual Environment
# ==========================
venv/
.env/

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# Reports & Artifacts
# ==========================
reports/
allure-report/
allure-results/
traces/

# ==========================
# IDE / Editor
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db